annotated-types==0.7.0
anyio==4.9.0
black==25.1.0
build==1.2.2.post1
certifi==2025.7.14
click==8.2.1
coverage==7.10.1
execnet==2.1.1
fastapi==0.116.1
h11==0.16.0
htmlx==0.0.3
httpcore==1.0.9
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.17.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-xdist==3.8.0
PyYAML==6.0.2
rich==13.9.4
ruff==0.12.5
setuptools==80.9.0
sniffio==1.3.1
starlette==0.47.3
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==1.26.20
